/* Static inline utilities migrated from Pages/EmployeePortal/Biometric.cshtml */

.zyu-02e74f792350 { border-color:var(--zy-migrated-color-7d196e4a3a);background:var(--zy-migrated-color-a46d19a58a);color:var(--zy-migrated-color-c7a3f2477f); }

.zyu-bf4a218e05ab { margin-bottom:16px; }

.zyu-7d65e6bb77de { border-color:var(--zy-migrated-color-fda7490484);background:var(--zy-migrated-color-134aa43a8b);color:var(--zy-migrated-color-e08c4a0727); }

.zyu-ebbfe547bba9 { border-color:var(--zy-migrated-color-ce9d3551e6);background:var(--zy-migrated-color-024bc86e12);color:var(--zy-migrated-color-2628991918); }

.zyu-43a97fe4943c { margin-top:8px; }

.zyu-55db2416bec8 { justify-content:space-between; }
