/* Static inline utilities migrated from Pages/EmployeePortal/ChangePassword.cshtml */

.zyu-7d65e6bb77de { border-color:var(--zy-migrated-color-fda7490484);background:var(--zy-migrated-color-134aa43a8b);color:var(--zy-migrated-color-e08c4a0727); }

.zyu-02e74f792350 { border-color:var(--zy-migrated-color-7d196e4a3a);background:var(--zy-migrated-color-a46d19a58a);color:var(--zy-migrated-color-c7a3f2477f); }
