/* Static inline utilities migrated from Pages/DisciplinaryRules/Index.cshtml */

.zyu-f47e3b970dce { width:90px; }

.zyu-d334b57bfcde { width:120px; }

.zyu-55d8ffef28ea { width:170px; }

.zyu-e3f447c4f5ee { width:180px; }

.zyu-1ba51881f300 { width:70px; }

.zyu-3cab7ef27d09 { width:200px; }

.zyu-5a5f7abe4163 { width:110px; }

.zyu-386c1b610660 { white-space:normal; }
